	/* CSS for overall look and feel of the page */
	body, table, tr, td {
		font-family: Arial, Sans-Serif;
		font-size: small;
		margin:0px;
	}
	a, a:hover, a:visited {
		color: #0000AA;
	}
	
	/* CSS to display page header and footers */
	div.heading {
		border-bottom: 15px solid #e8eef7;
	}	
	div.footer {
		margin-top:15px;
		padding-top:10px;
		border-top: 1px solid #3B5998;
		text-align:center;
		align:center;		
		color:#3B5998;
		font-weight: bold;
		font-size:12px;
	}	


	/* CSS for formatting */
	div.bold {
		font-weight:bold;
	}
	div.spacer {
		clear: both;
	}	

	.border {
		padding:2px;
		border-top:1px solid #E7EDFF;
		border-bottom:1px solid #E7EDFF;
		background-color:#FAFAFA;
	}

	.lightText {
		color: #999999;
	}
	
	.searchBox {
		background-image:url('search.png');
		border:1px solid #000000;
		background-repeat:no-repeat;
		padding-left:20px;	
	}

	.searchButton {
		background-color:#f5f5f5;
		border:1px solid #dedede;
		border-top:1px solid #eee;
		border-left:1px solid #eee;

		font-size:100%;
		line-height:130%;
		font-weight:bold;
		color:#565656;
		cursor:pointer;	
	}
	
	.searchButton:hover {
		background-color:#E8E8E8;
		border:1px solid #C4C4C4;
		color:#3D3D3D;
	}

	.fb { 
		font-family:"lucida grande",Tahoma,verdana,arial,sans-serif; 
		font-weight:bold; 
		font-size:20px; 		
		color:#ffffff; 
		height:29px;
		padding:7px 5px;
		background:-webkit-gradient(linear,left top,left bottom,from(#738aba),to(#2c4987));
		border-color:#111a33;
		-webkit-box-shadow:inset 0 1px 1px -1px #fff;
	}
